<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LivroAdd</display-name>
    <servlet-name>LivroAdd</servlet-name>
    <servlet-class>br.cefet.sisbiblioteca.control.LivroAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivrAdd</servlet-name>
    <url-pattern>/LivroAdd</url-pattern>
  </servlet-mapping>
  <display-name>sisbiblioteca</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsuarioAdd</display-name>
    <servlet-name>UsuarioAdd</servlet-name>
    <servlet-class>br.cefet.sisbiblioteca.control.UsuarioAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioAdd</servlet-name>
    <url-pattern>/UsuarioAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaListar</display-name>
    <servlet-name>CategoriaListar</servlet-name>
    <servlet-class>br.cefet.sisvenda.control.CategoriaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaListar</servlet-name>
    <url-pattern>/CategoriaListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoAdd</display-name>
    <servlet-name>ProdutoAdd</servlet-name>
    <servlet-class>br.cefet.sisvenda.control.ProdutoAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoAdd</servlet-name>
    <url-pattern>/ProdutoAdd</url-pattern>
  </servlet-mapping>
</web-app>